
@{
    ViewBag.Title = "CreateMessage";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>Message Oluşturma Sayfası</h2>
<form method="post">
    <label>NameSurname</label>
    <input type="text" class="form-control" name="NameSurname" />
    <button class="btn btn-success">Ekle</button>
    <br />
    <label>Mail</label>
    <input type="text" class="form-control" name="Mail" />
    <button class="btn btn-success">Ekle</button>
    <br />
    <label>Subject</label>
    <input type="text" class="form-control" name="Subject" />
    <button class="btn btn-success">Ekle</button>
    <br />
    <label>MessageContent</label>
    <input type="text" class="form-control" name="MessageContent" />
    <button class="btn btn-success">Ekle</button>
    <br />
  
