
@{
    ViewBag.Title = "CreateJob";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>Job Oluşturma Sayfası</h2>
<form method="post">
    <label>Title</label>
    <input type="text" class="form-control" name="Title" />
    <button class="btn btn-success">Ekle</button>
    <br />
    <label>StartDate</label>
    <input type="text" class="form-control" name="StartDate" />
    <button class="btn btn-success">Ekle</button>
    <br />
    <label>EndDate</label>
    <input type="text" class="form-control" name="EndDate" />
    <button class="btn btn-success">Ekle</button>
    <br />
    <label>CompanyName</label>
    <input type="text" class="form-control" name="CompanyName" />
    <button class="btn btn-success">Ekle</button>
    <br />
    <label>Description</label>
    <input type="text" class="form-control" name="Description" />
    <button class="btn btn-success">Ekle</button>
    <br />


