
@{
    ViewBag.Title = "CreateEducation";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>Education Oluşturma Sayfası</h2>
<form method="post">
    <label>StartYear</label>
    <input type="text" class="form-control" name="StartYear" />
    <button class="btn btn-success">Ekle</button>
    <br />
    <label>EndYear</label>
    <input type="text" class="form-control" name="EndYear" />
    <button class="btn btn-success">Ekle</button>
    <br />
    <label>Name</label>
    <input type="text" class="form-control" name="Name" />
    <button class="btn btn-success">Ekle</button>
    <br />
    <label>Description</label>
    <input type="text" class="form-control" name="Description" />
    <button class="btn btn-success">Ekle</button>
    <br />
    <label>Section</label>
    <input type="text" class="form-control" name="Section" />
    <button class="btn btn-success">Ekle</button>
    <br />
   
