<ul class="list-unstyled components mb-5">
    <li class="active">
        <a href="#"><span class="fa fa-home mr-3"></span> Home</a>
    </li>
    <li>
        <a href="/Category/"><span class="fa fa-user mr-3"></span> Kategoriler</a>
    </li>
    <li>
        <a href="/Testimonial/"><span class="fa fa-briefcase mr-3"></span> Referanslar</a>
    </li>
    <li>
        <a href="/About/"><span class="fa fa-sticky-note mr-3"></span> Hakkımızda</a>
    </li>
    <li>
        <a href="/Contact/"><span class="fa fa-paper-plane mr-3"></span> Contact</a>
    </li>
    <li>
        <a href="/Education/"><span class="fa carousel-fade"></span> Education</a>
    </li>
    <li>
        <a href="/Job/"><span class="fa fa-paper-plane mr-3"></span> Job</a>
    </li>
    <li>
    <a href="/Message/"><span class="fa fa-paper-plane mr-3"></span> Message</a>
</li>
    <li>
    <a href="/Project/"><span class="fa fa-paper-plane mr-3"></span> Project</a>
</li>
    <li>
    <a href="/Services/"><span class="fa fa-paper-plane mr-3"></span> Services</a>
</li>
    <li>
    <a href="/Skill/"><span class="fa fa-paper-plane mr-3"></span> Skill</a>
</li>
    <li>
    <a href="/Slider/"><span class="fa fa-paper-plane mr-3"></span> Slider</a>
</li>
</ul>
